* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    border: 2px solid red;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    /* align-content: space-around; */
    flex-direction: column;
}

section {
    border: 2px solid blue;
    text-align: center;
    padding: 10px;
}